<%= form_for @listing do |form| %>
    <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= form.label "Property Type" %>
    <div class= "dropdown-toggle">
      <%= form.select(:property_type, options_for_select([[@listing.property_type, @listing.property_type], ['HOUSE', 'HOUSE'],['ENTIRE FLOOR', 'ENTIRE FLOOR'],['CONDOMINIUM', 'CONDOMINIUM'],['VILLA', 'VILLA'],['TOWNHOUSE', 'TOWNHOUSE'],['CASTLE','CASTLE'],['TREEHOUSE', 'TREEHOUSE'],['HUT', 'HUT'], ['OTHER', 'OTHER']]))%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :room_number, "Number of Room" %>
    <%= form.number_field :room_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bed_number, "Number of Bed" %>
    <%= form.number_field :bed_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :guest_number, "Number of Guest" %>
    <%= form.number_field :guest_number, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :address, "Street Address" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <div class="dropdown-toggle">
      <%= form.select(:state, options_for_select([[@listing.state, @listing.state], ['JOHOR', 'JOHOR'],['KEDAH', 'KEDAH'],['KELANTAN', 'KELANTAN'],['KL', 'KL'],['MELAKA', 'MELAKA'],['N.SEMBILAN','N.SEMBILAN'],['P.PENANG', 'P.PENANG'],['PERAK', 'PERAK'],['PERLIS', 'PERLIS'],['SABAH', 'SABAH'],['SARAWAK', 'SARAWAK'], ['SELANGOR', 'SELANGOR'], ['TERENGGANU', 'TERENGGANU']])) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, class: "form-control" %>
  </div>

  <%= form.label :price, "Price per day" %>
  <div class="input-group">
    <%= form.text_field :price, class: "form-control" %>
    <span class="input-group-addon">.00</span>
  </div>

 
  <div class="form-group">
    <%= form.label :tag_list, "Tags:" %>
    <%= check_box_tag "listing[tag_list][]", 'Smoker' %>
    <%= label_tag "listing[tag_list]", "Smoker" %>
    <%= check_box_tag "listing[tag_list][]", 'Non-smoker'%>
    <%= label_tag "listing[tag_list]", "Non-smoker" %>
    <%= check_box_tag"listing[tag_list][]", 'Pets' %>
    <%= label_tag "listing[tag_list]", "Pets" %>
    <%= check_box_tag "listing[tag_list][]", 'Cooking allowed' %>
    <%= label_tag "listing[tag_list]", "Cooking allowed" %>
  </div>
  
  <!-- <div class="text-field">
    < form.label :photos >
    < form.file_field :photos >
  </div> -->
  

  <div class="submit-field form-group">
    <%= form.submit "Create", class: "btn btn-success" %>
  </div>

<% end %>
