<div class="container">
	<div class="text-center form-inline">
		<%= form_tag(listings_path, method: "get") do %>
			<%= text_field_tag :state, params[:state], class: "form-control" %>
			<%= submit_tag("Search", class: "btn btn-default") %>
		
			<%= range_field_tag :price, nil, {min: 100, max: 500, step: 10, value: 100} %>
			
		<% end %>
	</div>

	<div class= "form-group">
		<% tag_cloud Listing.tag_counts, %w[] do |tag| %>
			<%= link_to tag.name, tag_path(tag.name) %>
		<% end %>
	</div>

	<div class="row">
		<% @listings.each do |listing| %>
			<div class="col-md-4">
				<div class="thumbnail">
				<% if listing.images.empty? %>
	            	<img src="http://placehold.it/500x300/EEE">
	            <% else %>
	            	<%=  image_tag listing.images.first.small_thumb.url %>
	            <% end %>
              		<div class="caption">
					Title: <%= link_to listing.title, user_listing_path(current_user, listing) %> <br>
					Price: <%= listing.price %> <br>
					Tags: <%= raw listing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> <br>
					State: <%= listing.state %> <br>
					Hosted by: <%= listing.user.full_name %> <br>
					<div class="text-center">
					 	<% if listing.user_id == current_user.id %>
							<p><%= link_to 'Edit', edit_listing_path(listing) %>
							| <%= link_to 'Delete', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } %></p>
						 <% else %>
						 	<p> Edit | Delete </p> 
						 <% end %>
						<% if current_user.customer? || current_user.superadmin? %> 
						 	<%= link_to 'Book Now',  new_listing_reservation_path(listing) ,class: "btn btn-success form-control" %>
						 	<br>
						 	<br>
					 	<% else %>
					 		<button type="button" class="btn-disabled">Book Now</button>
						 	<br>
						 	<br>
					 	<% end %>
					 	<% if !current_user.customer? && listing.verification ==false %>
					 		<%= button_to "Verify", listing_path(listing), :method => :put %>
					 	<% else %>
					 		<button type="button" class="btn-disabled">Verified</button>
					 	<% end %>
					</div>
				
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="text-center">
		<%= will_paginate @listings %>
		<br>
		<%= link_to "Create Listing", new_listing_path, class: "btn btn-success" if !current_user.moderator? %>
	</div>

</div>


